body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}


header.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-bottom: 5px solid black;
}
.container {
  margin: auto;
  padding-left: 2px;

}
textarea.description {
  border-left: 5px solid white;

}

.time-block{
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;;
}

.hour {
  background-color: rgb(214, 213, 213);
  color: #000000;
  border-top: 1px solid white;
}

.past {
  background-color: rgb(79, 78, 78);
  color: white;
}

.present {
  background-color: rgb(106, 106, 235);
  color: white;
}

.future {
  background-color: #4c8d4c;
  color: white;
}

.saveBtn {
  border-left: 2px solid white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #06AED5;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}

button.btn.saveBtn {
  border: 1px solid white;
  height: 80px;
}